.container {
  max-width: 1200px;
  padding: 0 24px;
  margin: 40px auto;
}

.main_title {
  text-align: center;
  color: #202224;
  font-size: 1.5rem;
  margin: 24px 0;
}

.inner_text {
  color: #150572;
}

.leading_text {
  font-weight: 500;
  color: #202224;
  font-size: 1rem;
  padding: 0 10px;
  margin: 16px 0;
}

.highlight {
  text-decoration: underline;
}

.main_form {
  max-width: 600px;
  margin: 48px auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 6px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
}

.form_title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: #202224;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.input_container label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 1rem;
  color: #202224;
}

.input_container input {
  outline: none;
  background: #FFFFFF;
  border: 1px solid #C3C3E4;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px;
  color: #202224;
  font-weight: 400;
  font-size: 1rem;
}

.input_container input:focus,
.input_message:focus {
  border: 1px solid rgba(87, 71, 177, 0.623)
}

.input_message {
  height: 100px;
  padding: 10px;
  font-size: 1rem;
  color: #202224;
  border: 1px solid #C3C3E4;
  outline: none;
}

.btn_submit {
  border: none;
  background: rgba(21, 5, 114, .8);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
  padding: 12px 42px;
  margin: 24px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn_submit:hover {
  background: #150572;
}

.main_link_container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #150572;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: underline;
}

@media(min-width:767px) {
  .main_title {
    font-size: 2.2rem;
    padding: 0 72px;
  }

  .main-form {
    padding: 20px 60px;
  }

  .form_title {
    font-size: 1.3rem;
  }

  .input_container label,
  .input_container input {
    font-size: 1.1rem;
  }

  .input_message {
    font-size: 1.1rem;
  }

}
