

  /* color: #0070f3; */
.home_wrapper{
  
}
  .main_title{
    text-align: center;
    color:#0070f3;
    font-size: 2rem;
  }
 
  .main_form{
   
    width:600px;
    height:200px;
    margin:0 auto;
    background: #FFFFFF;
box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
border-radius: 25px;
  padding:16 24px;
  }
  .form_title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .input_container{
    display:flex;
    flex-direction: column;
   
  }

